---
import Card from '../components/Card.astro';
---
<!-- La seccion de arriba es similar a una estiqueta script -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Faber</title>
	</head>
	<body>
		<h1>Astro Faber</h1>
		<Card title="Card 1"/>
		<Card />
		<Card />

		<!-- Si se agrega el about en url se va a mostrar el componente about -->
	</body>
</html>
